<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="j100-0000">

  <!-- Common -->
  <xacro:include filename="$(find clearpath_platform_description)/urdf/common.urdf.xacro"/>

  <!-- Platform -->
  <xacro:include filename="$(find clearpath_platform_description)/urdf/j100/j100.urdf.xacro"/>
  <xacro:j100 control="diff_4wd" front_wheels="outdoor" rear_wheels="outdoor"/>


  <!-- Attachments -->

  <xacro:include filename="$(find clearpath_platform_description)/urdf/j100/attachments/fender.urdf.xacro"/>
  <xacro:fender name="front_fender" model="default" parent_link="base_link">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </xacro:fender>

  <xacro:include filename="$(find clearpath_platform_description)/urdf/j100/attachments/fender.urdf.xacro"/>
  <xacro:fender name="rear_fender" model="default" parent_link="base_link">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 3.1415"/>
  </xacro:fender>


  <!-- Links -->

  <xacro:include filename="$(find clearpath_platform_description)/urdf/links/mesh.urdf.xacro"/>
  <xacro:mesh name="mesh_name" parent_link="base_link" visual="file:///home/robolab/clearpath_ws/src/clearpath_common/clearpath_mounts_description/meshes/best.stl">
    <origin xyz="0.0 0.0 0.18" rpy="0.0 0.0 0.0"/>
  </xacro:mesh>


  <!-- Mounts -->

  <!-- fath_pivot_0 -->
  <xacro:include filename="$(find clearpath_mounts_description)/urdf/fath_pivot.urdf.xacro"/>
  <xacro:fath_pivot name="fath_pivot_0" parent_link="base_link" angle="-0.3">
    <origin xyz="0.23 0.13 0.17" rpy="0.0 0.7 0.0"/>
  </xacro:fath_pivot>


  <!-- Sensors -->

  <!-- lidar3d_0 -->
  <xacro:include filename="$(find clearpath_sensors_description)/urdf/velodyne_lidar.urdf.xacro"/>
  <xacro:velodyne_lidar name="lidar3d_0" parent_link="base_link" ang_res_h="0.4" ang_res_v="2.0" min_ang_h="-3.141592" max_ang_h="3.141592" min_ang_v="-0.261799" max_ang_v="0.261799" min_range="0.9" max_range="130.0" update_rate="20">
    <origin xyz="-0.17 0.0 0.515" rpy="0.0 0.0 0.0"/>
  </xacro:velodyne_lidar>

  <!-- camera_0 -->
  <xacro:include filename="$(find clearpath_sensors_description)/urdf/intel_realsense.urdf.xacro"/>
  <xacro:intel_realsense name="camera_0" parent_link="arm_0_end_effector_link" update_rate="30" image_height="480" image_width="640" model="d435">
    <origin xyz="-0.03 0.0 0.0" rpy="0.0 -1.5 0.0"/>
  </xacro:intel_realsense>

  <!-- camera_1 -->
  <xacro:include filename="$(find clearpath_sensors_description)/urdf/flir_blackfly.urdf.xacro"/>
  <xacro:flir_blackfly name="camera_1" parent_link="fath_pivot_0_mount" update_rate="30.0">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </xacro:flir_blackfly>

  <!-- gps_1 -->
  <xacro:include filename="$(find clearpath_sensors_description)/urdf/swiftnav_duro.urdf.xacro"/>
  <xacro:swiftnav_duro name="gps_1" parent_link="base_link">
    <origin xyz="-0.28 -0.1 0.515" rpy="0.0 0.0 0.0"/>
  </xacro:swiftnav_duro>


  <!-- Manipulators -->

  <!-- arm_0 -->
  <xacro:include filename="$(find clearpath_manipulators_description)/urdf/arm/kinova_gen3_lite.urdf.xacro"/>
  <xacro:kinova_gen3_lite name="arm_0" parent_link="default_mount" port="10000" robot_ip="192.168.131.40" use_internal_bus_gripper_comm="True" gripper_joint_name="arm_0_gripper_right_finger_bottom_joint">
    <origin xyz="0.12 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </xacro:kinova_gen3_lite>

  <!-- arm_0_gripper -->
  <xacro:include filename="$(find clearpath_manipulators_description)/urdf/gripper/kinova_2f_lite.urdf.xacro"/>
  <xacro:kinova_2f_lite name="arm_0_gripper" parent_link="arm_0_end_effector_link">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </xacro:kinova_2f_lite>


  <!-- Extras -->


</robot>
